<div class="input-group" style="max-width: 230px;margin: 0 auto;">
    <input class="form-control" type="text" id="tick" value="<%= currentTick %>">
    <span class="input-group-btn">
        <button class="btn btn-secondary clipboard-btn" data-clipboard-target="#tick">
            <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
        </button>
    </span>
</div>