<div class="input-group" style="min-width: 250px;margin: 0 auto;">
    <input class="form-control" type="text" id="tick" value="<%= currentTick %>" aria-label="Approximate tick"
        readonly>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary clipboard-btn" type="button" aria-label="Copy" data-clipboard-target="#tick">
            <i class="far fa-clipboard" aria-hidden="true" alt="Clipboard icon"></i>
        </button>
    </div>

</div>
<a href="#" class="float-right" tabindex="0" aria-label="Show inline info about ticks" data-container="body" data-placement="bottom" data-content="The number displayed is the number of ticks since 00:00:00 UTC on January 1, 0001, in the Gregorian calendar. 1 tick = 100 nanoseconds, so there are 10 million ticks in a second."
    data-toggle="popover" title="Approximate number of ticks since year 1">
    <span class="small">Huh?</span>
</a>