body {
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

.welcome {
    color: #999;
    font-size: 8vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
