body {
    font-family: Lato, Roboto, sans-serif;
}

body.darkmode {
    color: #e0d7c8 !important;
    background-color: #19191a !important;    
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.welcome h1{    
    font-size: 9vmin;
}

.darkmode input.form-control, 
.darkmode .input-group-append>.btn {
    color: #e0d7c8; 
    background-color: #19191a;
    border-color: rgba(224, 215, 200, .5); 
}

.darkmode ::-moz-selection,
.darkmode ::selection { 
    background-color: #e0d7c8;
    color: #19191a;
}

.darkmode .popover,
.darkmode .popover-header,
.darkmode .popover-body
{
    background-color: #313133;
    color: #e0d7c8;     
    border-color: inherit;
}

.darkmode a,
.darkmode a:hover{
    color: #e0d7c8; 
}
