<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="darkmode">
  <div class="welcome">
    <h1>eriklundin.se</h1>
    <% include ../partials/current-tick.ejs %>
  </div>
</body>
</html>