<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="darkmode">
  <div class="center-align">
    <img src="/logos/EL.svg" alt="Erik Lundin logo"/>
    <h1>eriklundin.se</h1>
    <% include ../partials/current-tick.ejs %>
  </div>
</body>
</html>